::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body,
section {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: black;
  color: white;
  position: relative;
}
main {
  display: flex;
  justify-content: center;
}
main > div {
  width: calc(100% - 10vw);
}

nav {
  display: flex;
  gap: 1em;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  justify-content: center;
}

nav > picture {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1em;
  padding: 0.5em;
  max-width: 20em;
}

nav > picture > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav > picture img {
  width: auto;
  object-fit: contain;
  max-height: 2em;
}

.img-circle {
  border-radius: 50%;
}

.active {
  background-color: rgba(50, 50, 50, 0.367)
}

/* gallery */
picture[data-key] {
  background: rgb(62, 62, 62);
  /* max-width: 10em; */
  width: 30em;
}

picture[data-key]  > img{
  width: 100%;
  height: auto;
}

.grid{
  display:flow-root;
  columns: 5;
  gap: clamp(0.5em, 3vw, 5em);
  width: 100%;
}

.grid > div:not(.skeleton) {
  max-width: 15em;
}

.grid > *{
  break-inside: avoid;
  margin-bottom: 5em;
  filter: brightness(80%) saturate(140%);
  cursor: pointer;
}
@media screen and (width < 1000px){
  .grid{
    columns: 3;
  }
}

@media screen and (width < 550px){
  .grid{
    columns: 2;
  }
}

/* skeleton */
.skeleton {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 10vw);
  justify-content: center;
  gap: 1em;
}

.skeleton div {
  width: 40vw;
  height: 30vw;
  max-width: 15em;
  max-height: 15em;
  background: rgb(62, 62, 62);
}

.skeleton div:nth-child(odd) {
  background: gray;
  animation: colorWaveAlt 1.5s infinite linear;
}

.skeleton div:nth-child(even) {
  background: rgb(62, 62, 62);
  animation: colorWave 1.5s infinite linear;
}

@keyframes colorWave {
  0% {
    background: gray;
  }
  50% {
    background: rgb(62, 62, 62);
  }
  100% {
    background: gray;
  }
}

@keyframes colorWaveAlt {
  0% {
    background: rgb(62, 62, 62);
  }
  50% {
    background: gray;
  }
  100% {
    background: rgb(62, 62, 62);
  }
}


/* rotating line */
/* RotatingLoading.css */
.rotating-line {
  border: 0.25em solid white;
  border-top: 0.25em solid transparent;
  border-radius: 50%;
  width: 0.5em;
  height: 3em;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-rotatingline{
  display: grid;
  place-items: center;
  margin-top: 2em;
  margin-bottom: 5em;
}


/* mary page */
.text-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container > p{
  max-width: 40em;
  text-align: center;
  font-size: clamp(1em, 1.5vw, 1.8em);
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(20%);
  transition: all 0.8s linear;
}


.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}